<head>
    <link rel="stylesheet" href="/public/search.css">
</head>

<%- include('base') %>

    <div class="root">
        <%- include('./header') %>
            <main class="renderer-search">
                <% for (const file of files) {%>
                    <div class="renderer-search-container">
                        <video src="<%= file.path %>" controls></video>
                    </div>
                    <%}%>
            </main>
            <div class="renderer-pagination">
                <ul class="renderer-pagination__ul">
                    <% for (let i=0; i<paginations; i++) {%>
                        <li class="renderer-pagination__ul-li">
                            <a href="/search?query=<%= query %>&page=<%= i %>">
                                <%= i %>
                            </a>
                        </li>
                        <%}%>
                </ul>
            </div>
            <%- include('footer') %>
    </div>